@CHARSET "UTF-8";

.container {
   background-color: #ffffff;
   max-width: 0 auto;
   margin: 0 auto;
   position: inherit;
}

.header {
   background-color: #ffffff;
   height: 100px;
}

.content {
   background-color: #ffffff;
   position: inherit;
   
}

.sideinfo {
   background-color: #ffffff;
   float: left;
   width: 200px;
}

.footer {
   background-color: #ffffff;
   clear: both;
   height: 100px;
}
.slideshow-container {
   max-width: 700px;
   position: inherit;
   margin: auto;
}

@media only screen and (max-width: 300px) {
  
}